.Camera-selection-container {
    align-content: center;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .Camera-selection-text {
      font-size: 16;
      color: 'blue';
  }